
body {
  background-color: #404040;
  color: white;
}

li{
  color: transparent;
}

.headerMobile {
  display: none;
}

.Dropdowncontent {
  display: none;
}

.checkbox {
  display: none;
}

header {
  background-size: 100%;
  border-radius: 20px;  
}

header>nav>.headerDesktop {
  background-color: #202020;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;  
}

header>nav>.headerDesktop>.img>a>img {
  height: 75px;
}

header > nav > .headerDesktop > .Menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Menu > a{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 30px 0 30px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}

.Menu > a > img{
  height: 30px;
}

header > nav > .headerDesktop > .Data{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Data > a{
  margin: 0px 50px 0px 50px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  header>nav>.headerDesktop {
    display: none;
  }

  header > nav > .headerMobile{
    display: block;
    background-color: #404040;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .headerMobile > img{
    height: 60px;
    margin-right: 20px;
  }

  header > nav > .headerMobile > a > img{
    height: 75px;
    margin-top: 10px;
  }

  .ElementsMenu{
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: space-around;
      transform: translate(0,3);
  }

  .ElementsMenu > a > img{
      height: 30px;
      margin-right: 20px;
  }

  .ElementsMenu > a{
      align-items: center;
      display: flex;
  }


}