.contenitorMobile{
  display: none;
}

.hide{
  display: none;
}

body {
  background-color: #404040;
  color: white;
}

.headerMobile {
  display: none;
}

.Dropdowncontent{
  display: none;
}

header {
  background-size: 100%;
  border-radius: 20px;  
}

header>nav>.headerDesktop {
  background-color: #202020;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;  
}

header>nav>.headerDesktop>.img>a>img {
  height: 95px;
}

header > nav > .headerDesktop > .Menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Menu > a{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 30px 0 30px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}

.Menu > a > img{
  height: 30px;
}

header > nav > .headerDesktop > .Data{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Data > a{
  margin: 0px 50px 0px 50px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  header>nav>.headerDesktop {
    display: none;
  }

  header > nav > .headerMobile{
    display: block;
    background-color: #404040;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .headerMobile > img{
    height: 60px;
    margin-right: 20px;
  }

  header > nav > .headerMobile > a > img{
    height: 75px;
    margin-top: 10px;
  }

  .contenitorMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/background\ Mobileù.jpg);
    background-size: 100%;
    padding-bottom: 350px;
  }

  .contenitorMobile > a > img{
    height: 25px;
  }
  .contenitorMobile > a{
    font-size: 17px;
    margin-top: 10px;
    padding: 10px;
    background-color: #404040;
    opacity: 0.8;
    border-radius: 12px;
  }

  .contenitorMobile > a:hover{

    text-decoration: underline;
    color: gold;
  }

  .LogoMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .LogoMobile > img{
    height: 120px;
  }

  .LogoMobile > h1{
    font-size: 20px;
    opacity: 0.5;
  }

}
